@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
$LightCyan: hsl(193, 38%, 86%);
$NeonGreen: hsl(150, 100%, 66%);
$NeutralGrayishBlue: hsl(217, 19%, 38%);
$DarkGrayishBlue: hsl(217, 19%, 24%);
$DarkBlue: hsl(218, 23%, 16%);

$LightCyan: hsl(193, 38%, 86%);
$NeonGreen: hsl(150, 100%, 66%);
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
@media screen and (max-width:767px) {
    main{
        width: 75vw;
        height: 80vh;
    }
    p{
        font-size: 1rem;
        width: 60vw;
    }
    img{
        width: 60vw;
    
    }
}
@media screen and (min-width:768px) {
    main{
        width: 55vw;
        height: 45vh;
    }
    p{
        font-size: 1.5rem;
        width: 440px;
    }

}
body{
    height: 100vh;
    background-color: $DarkBlue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Manrope', sans-serif;
    
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: $DarkGrayishBlue;
        max-width: 1200px;
        max-height: 400px;
        border-radius: 15px;
        
        h2{
            color:$NeonGreen;
        }
        p{

            margin: 1rem;

            text-align: center;
            color: $LightCyan;
        }
        img{
            margin: 1rem;
        
        }

    }
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    border:none;
    background-color: $NeonGreen;
}
